h1 { 
    background-color: aliceblue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
p{
  text-align: center;
}
h1{
  text-align: center;
}
img{
  width: 190px;
 
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}
.container a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
}